*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #383434;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.container p{
    position: absolute;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 20px;
    left: 25px;
    font-size: 30px;
    font-weight: bolder;
}
.navbar{
    display: flex;
    position: absolute;
    top: 0;
}
.logo {
    width: 120px;
    color: white;
    cursor: pointer;
    z-index: 2;
}
.content{
    width: 100%;
    position: absolute;
}
.left-side{
    position: absolute;
    top: -80px;
    left: 20px;
}
.left-side h1{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 85px;
}
.right-side{
    float: right;
    display: flex;
    align-items: center;
    position: absolute;
    top: 350px;
    right: 100px;
}
.right-side p1{
    color: white;
    font-size: 18px;
    padding: 15px;
}
#icon{
    width: 60px;
    cursor: pointer;
}
.nextSong{
    float: right;
    display: flex;
    align-items: center;
    position: absolute;
    top: 430px;
    right: 110px;
    z-index: 6;
}
.nextSong p{
    color: white;
    font-size: 18px;
    padding-right: 10px;
}
#nextButton{
    width: 40px;
    cursor: pointer;
}
.previousSong{
    float: right;
    display: flex;
    align-items: center;
    position: absolute;
    top: 480px;
    right: 110px;
    z-index: 6;
}
.previousSong p{
    color: white;
    font-size: 18px;
    padding-right: 10px;
}
#prevButton{
    transform: rotateY(180deg);
    width: 40px;
    cursor: pointer;

}
#name{
    position: absolute;
    top: 550px;
    right: 110px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Segoe UI Light";
    font-size: 30px;
    align-items: center;
}
#artist{
    position: absolute;
    top: 585px;
    right: 110px;
    color: #ffffff;
    font-family: "Segoe UI Light";
    font-size: 20px;
    align-items: center;
}
@media screen and (max-width: 1100px){
    .navbar{
        top: 15px;
    }
    .left-side{
        margin-top: 620px;
    }
    .left-side h1{
        font-size: 65px;
    }
    .right-side{
        top: 105px;
        right: 93px;
    }
    .previousSong {
        top: 115px;
        right: 170px;
    }
    .nextSong{
        top: 115px;
        right: 37px;
    }
    #name{
        top: 170px;
        right: 37px;
        font-size: 20px;
    }
    #artist{
        top: 190px;
        right: 37px;
        font-size: 15px;
    }

    .right-side p1,
    .nextSong p,
    .previousSong p{
        display: none;
    }
}
@media screen and (max-height: 815px){
    .left-side{
        font-size: 25px;
        margin-top: 550px;
    }
}
@media screen and (max-height: 700px){
    .left-side{
        font-size: 25px;
        margin-top: 450px;
    }
}
@media screen and (max-height: 620px){
    .left-side{
        font-size: 25px;
        margin-top: 350px;
    }
}
@media screen and (max-height: 450px) {
    .left-side {
        font-size: 25px;
        margin-top: 200px;
    }
}
