body{
    background: linear-gradient(90deg, #2F1C53, #A46DFF, #F6D1FD);
    background-size: cover;
}
#list{
    margin-left: 65px;
}
#list li{
    cursor: pointer;
    list-style-type: none;
    font-family: "Segoe UI Light";
    color: white;
    line-height: 100px;
}
#list li img{
    width: 60px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    margin:25px 35px;
}

.animate{
    -webkit-animation: infinite-spinning 5s infinite linear;
}

@-webkit-keyframes infinite-spinning {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
