body{
    background: linear-gradient(90deg, #812a7d, #A46DFF, #F6D1FD);
    background-size: cover;
}
#list{
    margin-left: 65px;
    margin-top: 75px;
}
#list li{
    cursor: pointer;
    list-style-type: none;
    font-family: "Segoe UI Light";
    color: white;
    margin-bottom: 50px;
}
#list li img{
    width: 60px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    margin-left: 35px;
    margin-top: -25px;
}
.animate{
    -webkit-animation: infinite-spinning 5s infinite linear;
    animation-play-state: paused;
}
@-webkit-keyframes infinite-spinning {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
#icon{
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown span{
    color: white;
    font-family: "Segoe UI Light";
    background-color: #A46DFF;
    padding: 15px;
    margin-left: 105px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a46dff;
    color: white;
    font-family: "Segoe UI Light";
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 105px;
    width: 101px;
    z-index: 1;
}
.dropdown-content p{
    padding: 3px 10px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content p:hover {
    background-color: rgba(86, 80, 80, 0.3);
    cursor: pointer;
}
#input{
    border-radius: 50px;
    border: rgba(255, 255, 255, 0.29);
    background-color: rgba(255, 255, 255, 0.29);
    outline: none;
    caret-color: white;
    position: absolute;
    margin: 5px 25px;
    width: 320px;
    height: 30px;
    color: white;
}
::placeholder{
    color: white;
    font-family: "Segoe UI Light";
}
.gg-home{
    margin-top: -10px;
    margin-left: 45px;
    color: rgba(255, 255, 255, 0.56);
    cursor: pointer;
}